In [1]:
from collections import Counter
import random
import pandas as pd
from tqdm import tqdm

import numpy as np
from scipy import stats
import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
plotly.offline.init_notebook_mode(connected=True)
plotly.tools.set_credentials_file(username='andreffs18', api_key='')

import warnings
warnings.filterwarnings("ignore", category=UserWarning, module='bs4')

from distances import pearson
from crawler import Crawler
from searcher import Searcher

In [2]:
# Test crawler service
c = Crawler("searchindex.db")

In [3]:
c.drop_tables()
c.create_index_tables()

Start drop tables...
Tables dropped with success!
Start with creation of table...
Tables created with success!

In [4]:
c.crawl(["http://www.andreffs.com/"], depth=2)

Indexing http://www.andreffs.com/
Query: INSERT INTO link (fromid, toid) VALUES (1, 2)
Query: INSERT INTO link (fromid, toid) VALUES (1, 3)
Query: INSERT INTO link (fromid, toid) VALUES (1, 4)
Query: INSERT INTO link (fromid, toid) VALUES (1, 4)
Query: INSERT INTO link (fromid, toid) VALUES (1, 5)
Query: INSERT INTO link (fromid, toid) VALUES (1, 6)
Query: INSERT INTO link (fromid, toid) VALUES (1, 7)
Query: INSERT INTO link (fromid, toid) VALUES (1, 8)
Query: INSERT INTO link (fromid, toid) VALUES (1, 7)
Query: INSERT INTO link (fromid, toid) VALUES (1, 9)
Query: INSERT INTO link (fromid, toid) VALUES (1, 10)
Query: INSERT INTO link (fromid, toid) VALUES (1, 11)
Query: INSERT INTO link (fromid, toid) VALUES (1, 12)
Query: INSERT INTO link (fromid, toid) VALUES (1, 13)
Query: INSERT INTO link (fromid, toid) VALUES (1, 14)
Query: INSERT INTO link (fromid, toid) VALUES (1, 15)
Query: INSERT INTO link (fromid, toid) VALUES (1, 16)
Query: INSERT INTO link (fromid, toid) VALUES (1, 17)
Query: INSERT INTO link (fromid, toid) VALUES (1, 18)
Query: INSERT INTO link (fromid, toid) VALUES (1, 19)
Query: INSERT INTO link (fromid, toid) VALUES (1, 20)
Could not open page "https://blog.unbabel.com/2015/02/26/unbabel-sponsors-sinfos-startup-rush-hackathon/" because HTTP Error 403: Forbidden
Could not open page "https://pt.linkedin.com/in/andreffs18" because HTTP Error 999: Request denied
Indexing http://instagram.com/andreffs18
Indexing http://sinfo.org/
Could not open page "https://github.com/andreffs18" because <urlopen error [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:590)>
Indexing http://www.andreffs.com/login/
Could not open page "https://pixels.camp/" because <urlopen error [SSL: SSLV3_ALERT_HANDSHAKE_FAILURE] sslv3 alert handshake failure (_ssl.c:590)>
Indexing http://vitopal.pt/
Query: INSERT INTO link (fromid, toid) VALUES (6, 21)
Query: INSERT INTO link (fromid, toid) VALUES (6, 22)
Query: INSERT INTO link (fromid, toid) VALUES (6, 23)
Query: INSERT INTO link (fromid, toid) VALUES (6, 24)
Query: INSERT INTO link (fromid, toid) VALUES (6, 25)
Query: INSERT INTO link (fromid, toid) VALUES (6, 26)
Query: INSERT INTO link (fromid, toid) VALUES (6, 27)
Query: INSERT INTO link (fromid, toid) VALUES (6, 28)
Query: INSERT INTO link (fromid, toid) VALUES (6, 29)
Query: INSERT INTO link (fromid, toid) VALUES (6, 30)
Query: INSERT INTO link (fromid, toid) VALUES (6, 31)
Query: INSERT INTO link (fromid, toid) VALUES (6, 32)
Query: INSERT INTO link (fromid, toid) VALUES (6, 33)
Query: INSERT INTO link (fromid, toid) VALUES (6, 34)
Query: INSERT INTO link (fromid, toid) VALUES (6, 35)
Query: INSERT INTO link (fromid, toid) VALUES (6, 36)
Query: INSERT INTO link (fromid, toid) VALUES (6, 37)
Query: INSERT INTO link (fromid, toid) VALUES (6, 38)
Query: INSERT INTO link (fromid, toid) VALUES (6, 39)
Query: INSERT INTO link (fromid, toid) VALUES (6, 40)
Query: INSERT INTO link (fromid, toid) VALUES (6, 41)
Query: INSERT INTO link (fromid, toid) VALUES (6, 39)
Query: INSERT INTO link (fromid, toid) VALUES (6, 42)
Query: INSERT INTO link (fromid, toid) VALUES (6, 39)
Query: INSERT INTO link (fromid, toid) VALUES (6, 43)
Query: INSERT INTO link (fromid, toid) VALUES (6, 44)
Query: INSERT INTO link (fromid, toid) VALUES (6, 45)
Query: INSERT INTO link (fromid, toid) VALUES (6, 46)
Could not open page "https://www.unbabel.com/" because HTTP Error 403: Forbidden
Could not open page "https://codebits.eu/?lang=pt" because <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)>
Indexing http://tecnico.ulisboa.pt/
Query: INSERT INTO link (fromid, toid) VALUES (7, 47)
Query: INSERT INTO link (fromid, toid) VALUES (7, 48)
Query: INSERT INTO link (fromid, toid) VALUES (7, 49)
Query: INSERT INTO link (fromid, toid) VALUES (7, 50)
Query: INSERT INTO link (fromid, toid) VALUES (7, 51)
Query: INSERT INTO link (fromid, toid) VALUES (7, 47)
Query: INSERT INTO link (fromid, toid) VALUES (7, 52)
Query: INSERT INTO link (fromid, toid) VALUES (7, 52)
Query: INSERT INTO link (fromid, toid) VALUES (7, 53)
Query: INSERT INTO link (fromid, toid) VALUES (7, 53)
Query: INSERT INTO link (fromid, toid) VALUES (7, 54)
Query: INSERT INTO link (fromid, toid) VALUES (7, 55)
Query: INSERT INTO link (fromid, toid) VALUES (7, 56)
Query: INSERT INTO link (fromid, toid) VALUES (7, 57)
Query: INSERT INTO link (fromid, toid) VALUES (7, 58)
Query: INSERT INTO link (fromid, toid) VALUES (7, 59)
Query: INSERT INTO link (fromid, toid) VALUES (7, 59)
Query: INSERT INTO link (fromid, toid) VALUES (7, 60)
Query: INSERT INTO link (fromid, toid) VALUES (7, 61)
Query: INSERT INTO link (fromid, toid) VALUES (7, 62)
Query: INSERT INTO link (fromid, toid) VALUES (7, 63)
Query: INSERT INTO link (fromid, toid) VALUES (7, 63)
Query: INSERT INTO link (fromid, toid) VALUES (7, 63)
Query: INSERT INTO link (fromid, toid) VALUES (7, 63)
Query: INSERT INTO link (fromid, toid) VALUES (7, 63)
Query: INSERT INTO link (fromid, toid) VALUES (7, 64)
Query: INSERT INTO link (fromid, toid) VALUES (7, 64)
Query: INSERT INTO link (fromid, toid) VALUES (7, 65)
Query: INSERT INTO link (fromid, toid) VALUES (7, 65)
Query: INSERT INTO link (fromid, toid) VALUES (7, 66)
Query: INSERT INTO link (fromid, toid) VALUES (7, 67)
Query: INSERT INTO link (fromid, toid) VALUES (7, 68)
Query: INSERT INTO link (fromid, toid) VALUES (7, 69)
Query: INSERT INTO link (fromid, toid) VALUES (7, 70)
Query: INSERT INTO link (fromid, toid) VALUES (7, 71)
Query: INSERT INTO link (fromid, toid) VALUES (7, 72)
Query: INSERT INTO link (fromid, toid) VALUES (7, 72)
Query: INSERT INTO link (fromid, toid) VALUES (7, 73)
Query: INSERT INTO link (fromid, toid) VALUES (7, 74)
Query: INSERT INTO link (fromid, toid) VALUES (7, 75)
Query: INSERT INTO link (fromid, toid) VALUES (7, 76)
Query: INSERT INTO link (fromid, toid) VALUES (7, 77)
Query: INSERT INTO link (fromid, toid) VALUES (7, 78)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 80)
Query: INSERT INTO link (fromid, toid) VALUES (7, 80)
Query: INSERT INTO link (fromid, toid) VALUES (7, 81)
Query: INSERT INTO link (fromid, toid) VALUES (7, 81)
Query: INSERT INTO link (fromid, toid) VALUES (7, 82)
Query: INSERT INTO link (fromid, toid) VALUES (7, 83)
Query: INSERT INTO link (fromid, toid) VALUES (7, 84)
Query: INSERT INTO link (fromid, toid) VALUES (7, 85)
Query: INSERT INTO link (fromid, toid) VALUES (7, 86)
Query: INSERT INTO link (fromid, toid) VALUES (7, 86)
Query: INSERT INTO link (fromid, toid) VALUES (7, 87)
Query: INSERT INTO link (fromid, toid) VALUES (7, 88)
Query: INSERT INTO link (fromid, toid) VALUES (7, 89)
Query: INSERT INTO link (fromid, toid) VALUES (7, 90)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 91)
Query: INSERT INTO link (fromid, toid) VALUES (7, 91)
Query: INSERT INTO link (fromid, toid) VALUES (7, 92)
Query: INSERT INTO link (fromid, toid) VALUES (7, 92)
Query: INSERT INTO link (fromid, toid) VALUES (7, 89)
Query: INSERT INTO link (fromid, toid) VALUES (7, 89)
Query: INSERT INTO link (fromid, toid) VALUES (7, 93)
Query: INSERT INTO link (fromid, toid) VALUES (7, 93)
Query: INSERT INTO link (fromid, toid) VALUES (7, 94)
Query: INSERT INTO link (fromid, toid) VALUES (7, 94)
Query: INSERT INTO link (fromid, toid) VALUES (7, 95)
Query: INSERT INTO link (fromid, toid) VALUES (7, 95)
Query: INSERT INTO link (fromid, toid) VALUES (7, 96)
Query: INSERT INTO link (fromid, toid) VALUES (7, 59)
Query: INSERT INTO link (fromid, toid) VALUES (7, 97)
Query: INSERT INTO link (fromid, toid) VALUES (7, 98)
Query: INSERT INTO link (fromid, toid) VALUES (7, 99)
Query: INSERT INTO link (fromid, toid) VALUES (7, 100)
Query: INSERT INTO link (fromid, toid) VALUES (7, 101)
Query: INSERT INTO link (fromid, toid) VALUES (7, 102)
Query: INSERT INTO link (fromid, toid) VALUES (7, 102)
Query: INSERT INTO link (fromid, toid) VALUES (7, 103)
Query: INSERT INTO link (fromid, toid) VALUES (7, 104)
Query: INSERT INTO link (fromid, toid) VALUES (7, 105)
Query: INSERT INTO link (fromid, toid) VALUES (7, 106)
Query: INSERT INTO link (fromid, toid) VALUES (7, 107)
Query: INSERT INTO link (fromid, toid) VALUES (7, 77)
Query: INSERT INTO link (fromid, toid) VALUES (7, 108)
Query: INSERT INTO link (fromid, toid) VALUES (7, 109)
Query: INSERT INTO link (fromid, toid) VALUES (7, 109)
Query: INSERT INTO link (fromid, toid) VALUES (7, 110)
Query: INSERT INTO link (fromid, toid) VALUES (7, 111)
Query: INSERT INTO link (fromid, toid) VALUES (7, 112)
Query: INSERT INTO link (fromid, toid) VALUES (7, 113)
Query: INSERT INTO link (fromid, toid) VALUES (7, 113)
Query: INSERT INTO link (fromid, toid) VALUES (7, 113)
Query: INSERT INTO link (fromid, toid) VALUES (7, 114)
Query: INSERT INTO link (fromid, toid) VALUES (7, 114)
Query: INSERT INTO link (fromid, toid) VALUES (7, 113)
Query: INSERT INTO link (fromid, toid) VALUES (7, 115)
Query: INSERT INTO link (fromid, toid) VALUES (7, 116)
Query: INSERT INTO link (fromid, toid) VALUES (7, 117)
Query: INSERT INTO link (fromid, toid) VALUES (7, 118)
Query: INSERT INTO link (fromid, toid) VALUES (7, 114)
Query: INSERT INTO link (fromid, toid) VALUES (7, 113)
Query: INSERT INTO link (fromid, toid) VALUES (7, 119)
Query: INSERT INTO link (fromid, toid) VALUES (7, 120)
Query: INSERT INTO link (fromid, toid) VALUES (7, 121)
Query: INSERT INTO link (fromid, toid) VALUES (7, 122)
Query: INSERT INTO link (fromid, toid) VALUES (7, 48)
Query: INSERT INTO link (fromid, toid) VALUES (7, 51)
Query: INSERT INTO link (fromid, toid) VALUES (7, 123)
Query: INSERT INTO link (fromid, toid) VALUES (7, 123)
Query: INSERT INTO link (fromid, toid) VALUES (7, 124)
Query: INSERT INTO link (fromid, toid) VALUES (7, 116)
Query: INSERT INTO link (fromid, toid) VALUES (7, 125)
Query: INSERT INTO link (fromid, toid) VALUES (7, 125)
Query: INSERT INTO link (fromid, toid) VALUES (7, 116)
Query: INSERT INTO link (fromid, toid) VALUES (7, 126)
Query: INSERT INTO link (fromid, toid) VALUES (7, 126)
Query: INSERT INTO link (fromid, toid) VALUES (7, 116)
Query: INSERT INTO link (fromid, toid) VALUES (7, 127)
Query: INSERT INTO link (fromid, toid) VALUES (7, 127)
Query: INSERT INTO link (fromid, toid) VALUES (7, 116)
Query: INSERT INTO link (fromid, toid) VALUES (7, 128)
Query: INSERT INTO link (fromid, toid) VALUES (7, 128)
Query: INSERT INTO link (fromid, toid) VALUES (7, 113)
Query: INSERT INTO link (fromid, toid) VALUES (7, 115)
Query: INSERT INTO link (fromid, toid) VALUES (7, 129)
Query: INSERT INTO link (fromid, toid) VALUES (7, 116)
Query: INSERT INTO link (fromid, toid) VALUES (7, 130)
Query: INSERT INTO link (fromid, toid) VALUES (7, 115)
Query: INSERT INTO link (fromid, toid) VALUES (7, 131)
Query: INSERT INTO link (fromid, toid) VALUES (7, 116)
Query: INSERT INTO link (fromid, toid) VALUES (7, 132)
Query: INSERT INTO link (fromid, toid) VALUES (7, 115)
Query: INSERT INTO link (fromid, toid) VALUES (7, 133)
Query: INSERT INTO link (fromid, toid) VALUES (7, 115)
Query: INSERT INTO link (fromid, toid) VALUES (7, 134)
Query: INSERT INTO link (fromid, toid) VALUES (7, 113)
Query: INSERT INTO link (fromid, toid) VALUES (7, 114)
Query: INSERT INTO link (fromid, toid) VALUES (7, 135)
Query: INSERT INTO link (fromid, toid) VALUES (7, 136)
Query: INSERT INTO link (fromid, toid) VALUES (7, 137)
Query: INSERT INTO link (fromid, toid) VALUES (7, 138)
Query: INSERT INTO link (fromid, toid) VALUES (7, 139)
Query: INSERT INTO link (fromid, toid) VALUES (7, 140)
Query: INSERT INTO link (fromid, toid) VALUES (7, 114)
Query: INSERT INTO link (fromid, toid) VALUES (7, 65)
Query: INSERT INTO link (fromid, toid) VALUES (7, 76)
Query: INSERT INTO link (fromid, toid) VALUES (7, 86)
Query: INSERT INTO link (fromid, toid) VALUES (7, 94)
Query: INSERT INTO link (fromid, toid) VALUES (7, 141)
Query: INSERT INTO link (fromid, toid) VALUES (7, 113)
Query: INSERT INTO link (fromid, toid) VALUES (7, 115)
Query: INSERT INTO link (fromid, toid) VALUES (7, 116)
Query: INSERT INTO link (fromid, toid) VALUES (7, 117)
Query: INSERT INTO link (fromid, toid) VALUES (7, 118)
Query: INSERT INTO link (fromid, toid) VALUES (7, 114)
Query: INSERT INTO link (fromid, toid) VALUES (7, 64)
Query: INSERT INTO link (fromid, toid) VALUES (7, 66)
Query: INSERT INTO link (fromid, toid) VALUES (7, 68)
Query: INSERT INTO link (fromid, toid) VALUES (7, 67)
Query: INSERT INTO link (fromid, toid) VALUES (7, 69)
Query: INSERT INTO link (fromid, toid) VALUES (7, 70)
Query: INSERT INTO link (fromid, toid) VALUES (7, 71)
Query: INSERT INTO link (fromid, toid) VALUES (7, 76)
Query: INSERT INTO link (fromid, toid) VALUES (7, 77)
Query: INSERT INTO link (fromid, toid) VALUES (7, 80)
Query: INSERT INTO link (fromid, toid) VALUES (7, 83)
Query: INSERT INTO link (fromid, toid) VALUES (7, 84)
Query: INSERT INTO link (fromid, toid) VALUES (7, 87)
Query: INSERT INTO link (fromid, toid) VALUES (7, 88)
Query: INSERT INTO link (fromid, toid) VALUES (7, 89)
Query: INSERT INTO link (fromid, toid) VALUES (7, 90)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 79)
Query: INSERT INTO link (fromid, toid) VALUES (7, 94)
Query: INSERT INTO link (fromid, toid) VALUES (7, 103)
Query: INSERT INTO link (fromid, toid) VALUES (7, 104)
Query: INSERT INTO link (fromid, toid) VALUES (7, 105)
Query: INSERT INTO link (fromid, toid) VALUES (7, 98)
Query: INSERT INTO link (fromid, toid) VALUES (7, 106)
Query: INSERT INTO link (fromid, toid) VALUES (7, 107)
Query: INSERT INTO link (fromid, toid) VALUES (7, 77)
Query: INSERT INTO link (fromid, toid) VALUES (7, 109)
Query: INSERT INTO link (fromid, toid) VALUES (7, 142)
Query: INSERT INTO link (fromid, toid) VALUES (7, 52)
Query: INSERT INTO link (fromid, toid) VALUES (7, 56)
Query: INSERT INTO link (fromid, toid) VALUES (7, 59)
Query: INSERT INTO link (fromid, toid) VALUES (7, 143)
Query: INSERT INTO link (fromid, toid) VALUES (7, 144)
Query: INSERT INTO link (fromid, toid) VALUES (7, 145)
Query: INSERT INTO link (fromid, toid) VALUES (7, 63)
Query: INSERT INTO link (fromid, toid) VALUES (7, 146)
Query: INSERT INTO link (fromid, toid) VALUES (7, 147)
Query: INSERT INTO link (fromid, toid) VALUES (7, 148)
Query: INSERT INTO link (fromid, toid) VALUES (7, 149)
Query: INSERT INTO link (fromid, toid) VALUES (7, 150)
Query: INSERT INTO link (fromid, toid) VALUES (7, 151)
Query: INSERT INTO link (fromid, toid) VALUES (7, 47)
Query: INSERT INTO link (fromid, toid) VALUES (7, 152)
Indexing https://twitter.com/andreffs18
Query: INSERT INTO link (fromid, toid) VALUES (17, 153)
Query: INSERT INTO link (fromid, toid) VALUES (17, 154)
Query: INSERT INTO link (fromid, toid) VALUES (17, 155)
Query: INSERT INTO link (fromid, toid) VALUES (17, 156)
Query: INSERT INTO link (fromid, toid) VALUES (17, 157)
Query: INSERT INTO link (fromid, toid) VALUES (17, 158)
Query: INSERT INTO link (fromid, toid) VALUES (17, 159)
Query: INSERT INTO link (fromid, toid) VALUES (17, 160)
Query: INSERT INTO link (fromid, toid) VALUES (17, 161)
Query: INSERT INTO link (fromid, toid) VALUES (17, 162)
Query: INSERT INTO link (fromid, toid) VALUES (17, 163)
Query: INSERT INTO link (fromid, toid) VALUES (17, 164)
Query: INSERT INTO link (fromid, toid) VALUES (17, 165)
Query: INSERT INTO link (fromid, toid) VALUES (17, 166)
Query: INSERT INTO link (fromid, toid) VALUES (17, 167)
Query: INSERT INTO link (fromid, toid) VALUES (17, 168)
Query: INSERT INTO link (fromid, toid) VALUES (17, 169)
Query: INSERT INTO link (fromid, toid) VALUES (17, 170)
Query: INSERT INTO link (fromid, toid) VALUES (17, 171)
Query: INSERT INTO link (fromid, toid) VALUES (17, 172)
Query: INSERT INTO link (fromid, toid) VALUES (17, 173)
Query: INSERT INTO link (fromid, toid) VALUES (17, 174)
Query: INSERT INTO link (fromid, toid) VALUES (17, 175)
Query: INSERT INTO link (fromid, toid) VALUES (17, 176)
Query: INSERT INTO link (fromid, toid) VALUES (17, 177)
Query: INSERT INTO link (fromid, toid) VALUES (17, 178)
Query: INSERT INTO link (fromid, toid) VALUES (17, 179)
Query: INSERT INTO link (fromid, toid) VALUES (17, 180)
Query: INSERT INTO link (fromid, toid) VALUES (17, 181)
Query: INSERT INTO link (fromid, toid) VALUES (17, 182)
Query: INSERT INTO link (fromid, toid) VALUES (17, 183)
Query: INSERT INTO link (fromid, toid) VALUES (17, 184)
Query: INSERT INTO link (fromid, toid) VALUES (17, 185)
Query: INSERT INTO link (fromid, toid) VALUES (17, 186)
Query: INSERT INTO link (fromid, toid) VALUES (17, 187)
Query: INSERT INTO link (fromid, toid) VALUES (17, 188)
Query: INSERT INTO link (fromid, toid) VALUES (17, 189)
Query: INSERT INTO link (fromid, toid) VALUES (17, 190)
Query: INSERT INTO link (fromid, toid) VALUES (17, 191)
Query: INSERT INTO link (fromid, toid) VALUES (17, 192)
Query: INSERT INTO link (fromid, toid) VALUES (17, 193)
Query: INSERT INTO link (fromid, toid) VALUES (17, 194)
Query: INSERT INTO link (fromid, toid) VALUES (17, 195)
Query: INSERT INTO link (fromid, toid) VALUES (17, 196)
Query: INSERT INTO link (fromid, toid) VALUES (17, 197)
Query: INSERT INTO link (fromid, toid) VALUES (17, 198)
Query: INSERT INTO link (fromid, toid) VALUES (17, 199)
Query: INSERT INTO link (fromid, toid) VALUES (17, 200)
Query: INSERT INTO link (fromid, toid) VALUES (17, 201)
Query: INSERT INTO link (fromid, toid) VALUES (17, 202)
Query: INSERT INTO link (fromid, toid) VALUES (17, 203)
Query: INSERT INTO link (fromid, toid) VALUES (17, 204)
Query: INSERT INTO link (fromid, toid) VALUES (17, 205)
Query: INSERT INTO link (fromid, toid) VALUES (17, 205)
Query: INSERT INTO link (fromid, toid) VALUES (17, 206)
Query: INSERT INTO link (fromid, toid) VALUES (17, 200)
Query: INSERT INTO link (fromid, toid) VALUES (17, 155)
Query: INSERT INTO link (fromid, toid) VALUES (17, 207)
Query: INSERT INTO link (fromid, toid) VALUES (17, 208)
Query: INSERT INTO link (fromid, toid) VALUES (17, 209)
Query: INSERT INTO link (fromid, toid) VALUES (17, 210)
Query: INSERT INTO link (fromid, toid) VALUES (17, 211)
Query: INSERT INTO link (fromid, toid) VALUES (17, 212)
Query: INSERT INTO link (fromid, toid) VALUES (17, 213)
Query: INSERT INTO link (fromid, toid) VALUES (17, 213)
Query: INSERT INTO link (fromid, toid) VALUES (17, 214)
Query: INSERT INTO link (fromid, toid) VALUES (17, 215)
Query: INSERT INTO link (fromid, toid) VALUES (17, 199)
Query: INSERT INTO link (fromid, toid) VALUES (17, 200)
Query: INSERT INTO link (fromid, toid) VALUES (17, 200)
Query: INSERT INTO link (fromid, toid) VALUES (17, 198)
Query: INSERT INTO link (fromid, toid) VALUES (17, 216)
Indexing http://www.andreffs.com/about/
Query: INSERT INTO link (fromid, toid) VALUES (15, 16)
Query: INSERT INTO link (fromid, toid) VALUES (15, 19)
Query: INSERT INTO link (fromid, toid) VALUES (15, 20)
Indexing https://fenix.tecnico.ulisboa.pt/cursos/leic-a
Query: INSERT INTO link (fromid, toid) VALUES (8, 217)
Query: INSERT INTO link (fromid, toid) VALUES (8, 218)

In [5]:
c.calculate_page_rank()

Iteration 1 of 10...
Iteration 2 of 10...
Iteration 3 of 10...
Iteration 4 of 10...
Iteration 5 of 10...
Iteration 6 of 10...
Iteration 7 of 10...
Iteration 8 of 10...
Iteration 9 of 10...
Iteration 10 of 10...

In [2]:
s = Searcher("searchindex.db")
s.query("trabalho")

Query:
> SELECT w0.urlid, w0.location FROM wordlocation w0 WHERE w0.wordid = 895
0	https://tecnico.ulisboa.pt/pt/recursos/
0	https://tecnico.ulisboa.pt/pt/recursos/documentos-importantes/
0	https://www.facebook.com/oneplus/
0	https://www.facebook.com/napeist/
0	https://tecnico.ulisboa.pt/pt/viver/servicos/servicos-de-saude/
0	https://tecnico.ulisboa.pt/pt/ensino/cursos/licenciaturas/
0	https://www.facebook.com/RNL.IST/
0	https://www.facebook.com/istinformatica/
0	https://tecnico.ulisboa.pt/pt/viver/servicos/aplicacoes-moveis/
0	https://tecnico.ulisboa.pt/pt/eventos/coloquios-do-departamento-de-fisica-df-2o-semestre-20172018/